body{
    overflow-x: hidden;
}
.header{
    background-size: cover;
    /* height: 70vh; */
    /* background-size: 100% !important;
    background: url(../img/Header\ 1.png); */
    background: #EBA243;
}
.img-header img{
    height: 31vw;
    width: 50vw;
}
.buy-car-text{
    font-size: 3rem !important;
    font-weight: bold !important;
}